.socialfollow
{
  position:fixed;
  display: block;
  background-color: black;
    color:white;
   text-align: center;
    width: 100%;
    bottom:0;
    
}
a.social 
{
    margin: 0.5rem;
    transition: transform 250ms;
    display: inline-block;
    
}
a.social:hover {
    transform: translateY(-2px);
  }
  a.facebook {
    color: #4968ad;
  }
  
  a.twitter {
    color: #49a1eb;
  }
  
  a.instagram {
    color: rgb(138, 17, 44);
  }