.art
{
    margin-top:8rem;
    color:white;
}
.read-more
{
    
    border:2px solid white;
    border-radius: 50px;
    font-size: 0.7rem;
    font-weight: 500;
    height: 2rem;
    line-height: 0.5rem;
    padding: 6px 17px;
    text-transform: uppercase;
    text-decoration:none;
    background: none;
    color:white;
    
  
}
.hero-content Link
{
    margin-top: 20rem;
    display: inline-block;
    outline: medium none;
    
}
a:hover
{
    transform: skewX(20deg);
    transition: all 0.5s ease;
    font-family: 'Montserrat', sans-serif;
    color:none;
    
}

.read-more:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
    
    
}
