.poster
{
  
   width: 20vw;
   height: 20vw;
   border-radius: 2px;
   margin:auto;
   padding:1.5rem;
   
}
.posterdiv
{
   width:100%;
   padding-top:1rem;
   padding-left:8rem;
   margin-top:0.5rem;
   padding-bottom:3.5rem;
}
.posternew
{
   flex-direction: row;
}