
  .back-to-top {
    position: fixed;
    bottom: 3.6rem;
    right: 2rem;
    font-size: 1rem;
    background: transparent;
    color: white;
    cursor: pointer;
    box-shadow: 0 5px 10px #ccc;
  }
  
  .back-to-top:hover {
    background: black;
  }